
body {
    background-color: grey;
}.content{
    margin: 0 auto;
    padding:10px 30px 30px 30px;
    width: 50%;
    /* text-align: center; */
    border-radius: 8px;
    background-color:white;
    height: 175px;
    position:static;
}
textarea{
    border: 3px dotted black;
    width:100%;
    margin: 0 10px 20px 0px;
    text-align: center;
}
.buttons{
    border-top: 1px solid grey;
    position:static;
    padding:20px;
  
}
#copy{
    background-color:grey;
    color:white;
    border-radius: 12px;
    position: absolute;
    right: 25%;
    font-size:18px;

}
#generate{
    background-color:red;
    color:white;
    border-radius: 12px;
    position: absolute;
    left:25%;
    font-size:18px;

}
h1{
    text-align: center;
}
h2{
    border-bottom: 1px solid grey;
    text-align: left;
}
textarea{
    border: 1px dotted grey;
    
}
